<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GestionDeActoresServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeActoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeCortesEscolaresServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeCortesEscolaresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeEstudiantesServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeEstudiantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeDocentesServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeDocentesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeGruposServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeGruposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeAsignaturasServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeAsignaturasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeCursosServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeCursosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeNotasServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeNotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionDeHoraSemanasServlet</servlet-name>
        <servlet-class>sae.servlets.GestionDeHoraSemanasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sae.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionDeActoresServlet</servlet-name>
        <url-pattern>/GestionDeActoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeCortesEscolaresServlet</servlet-name>
        <url-pattern>/GestionDeCortesEscolaresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeEstudiantesServlet</servlet-name>
        <url-pattern>/GestionDeEstudiantesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeDocentesServlet</servlet-name>
        <url-pattern>/GestionDeDocentesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeGruposServlet</servlet-name>
        <url-pattern>/GestionDeGruposServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeAsignaturasServlet</servlet-name>
        <url-pattern>/GestionDeAsignaturasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeCursosServlet</servlet-name>
        <url-pattern>/GestionDeCursosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeNotasServlet</servlet-name>
        <url-pattern>/GestionDeNotasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionDeHoraSemanasServlet</servlet-name>
        <url-pattern>/GestionDeHoraSemanasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
